#root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 40px;
    color: white;
}

#display{
    height: 50px;
    font-size: 25px;
    color: white;
}

p{
    color: white;
}

button {
    margin-top: 40px;
}

@media (max-width: 600px){

    button {
        width: 90px;
        height: 40px;
        margin-top: 140px;
    }

}